fastapi
fastapi-limiter==0.1.3
pydantic
python-multipart
passlib[bcrypt]
python-jose[cryptography]
uvicorn[standard]
# tortoise-orm[asyncpg]
git+git://github.com/daste745/tortoise-orm@feat/pydantic_model_creator-optional-parameter#egg=tortoise-orm
asyncpg
aioredis
